{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Home</h1>

<div class="center">
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
</div>


<div class="center">
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
</div>

<div class="center">
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
</div>

<div class="center">
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
</div>

<div class="center">
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
</div>

<div class="center">
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
</div>

<div class="center">
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
</div>

<div class="center">
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
</div>

<div class="center">
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
</div>

<div class="center">
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
<button type="button" class="button">Click Me!</button>
</div>


{% endblock %}
