{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}




  <h1 style = "text-align: center">Whats your favorite number?</h1>
<div id ="button-container" class = "center">
	<div class="center">
	<button type="button" class="button" id=1>1<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=2>2<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=3>3<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=4>4<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=5>5<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=6>6<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=7>7<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=8>8<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=9>9<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=10>10<p class="scoreDisplay">0</p></button>
	</div>



	<div class="center">
	<button type="button" class="button" id=11>11<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=12>12<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=13>13<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=14>14<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=15>15<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=16>16<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=17>17<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=18>18<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=19>19<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=20>20<p class="scoreDisplay">0</p></button>
	</div>

	<div class="center">
	<button type="button" class="button" id=21>21<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=22>22<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=23>23<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=24>24<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=25>25<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=26>26<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=27>27<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=28>28<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=29>29<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=30>30<p class="scoreDisplay">0</p></button>
	</div>

	<div class="center">
	<button type="button" class="button" id=31>31<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=32>32<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=33>33<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=34>34<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=35>35<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=36>36<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=37>37<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=38>38<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=39>39<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=40>40<p class="scoreDisplay">0</p></button>
	</div>

	<div class="center">
	<button type="button" class="button" id=41>41<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=42>42<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=43>43<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=44>44<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=45>45<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=46>46<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=47>47<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=48>48<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=49>49<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=50>50<p class="scoreDisplay">0</p></button>
	</div>

	<div class="center">
	<button type="button" class="button" id=51>51<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=52>52<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=53>53<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=54>54<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=55>55<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=56>56<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=57>57<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=58>58<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=59>59<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=60>60<p class="scoreDisplay">0</p></button>
	</div>

	<div class="center">
	<button type="button" class="button" id=61>61<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=62>62<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=63>63<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=64>64<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=65>65<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=66>66<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=67>67<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=68>68<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=69>69<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=70>70<p class="scoreDisplay">0</p></button>
	</div>

	<div class="center">
	<button type="button" class="button" id=71>71<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=72>72<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=73>73<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=74>74<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=75>75<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=76>76<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=77>77<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=78>78<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=79>79<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=80>80<p class="scoreDisplay">0</p></button>
	</div>

	<div class="center">
	<button type="button" class="button" id=81>81<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=82>82<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=83>83<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=84>84<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=85>85<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=86>86<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=87>87<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=88>88<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=89>89<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=90>90<p class="scoreDisplay">0</p></button>
	</div>

	<div class="center">
	<button type="button" class="button" id=91>91<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=92>92<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=93>93<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=94>94<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=95>95<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=96>96<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=97>97<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=98>98<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=99>99<p class="scoreDisplay">0</p></button>
	<button type="button" class="button" id=100>100<p class="scoreDisplay">0</p></button>
	</div>
	
	<button type="button" class="adminTool" id="clearAll">Clear all</button>

{% endblock %}
