{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1 style = "text-align: center">Whats your favorite number?</h1>

<div class="center">
<button type="button" class="button">1</button>
<button type="button" class="button">2</button>
<button type="button" class="button">3</button>
<button type="button" class="button">4</button>
<button type="button" class="button">5</button>
<button type="button" class="button">6</button>
<button type="button" class="button">7</button>
<button type="button" class="button">8</button>
<button type="button" class="button">9</button>
<button type="button" class="button">10</button>
</div>


<div class="center">
<button type="button" class="button">11</button>
<button type="button" class="button">12</button>
<button type="button" class="button">13</button>
<button type="button" class="button">14</button>
<button type="button" class="button">15</button>
<button type="button" class="button">16</button>
<button type="button" class="button">17</button>
<button type="button" class="button">18</button>
<button type="button" class="button">19</button>
<button type="button" class="button">20</button>
</div>

<div class="center">
<button type="button" class="button">21</button>
<button type="button" class="button">22</button>
<button type="button" class="button">23</button>
<button type="button" class="button">24</button>
<button type="button" class="button">25</button>
<button type="button" class="button">26</button>
<button type="button" class="button">27</button>
<button type="button" class="button">28</button>
<button type="button" class="button">29</button>
<button type="button" class="button">30</button>
</div>

<div class="center">
<button type="button" class="button">31</button>
<button type="button" class="button">32</button>
<button type="button" class="button">33</button>
<button type="button" class="button">34</button>
<button type="button" class="button">35</button>
<button type="button" class="button">36</button>
<button type="button" class="button">37</button>
<button type="button" class="button">38</button>
<button type="button" class="button">39</button>
<button type="button" class="button">40</button>
</div>

<div class="center">
<button type="button" class="button">41</button>
<button type="button" class="button">42</button>
<button type="button" class="button">43</button>
<button type="button" class="button">44</button>
<button type="button" class="button">45</button>
<button type="button" class="button">46</button>
<button type="button" class="button">47</button>
<button type="button" class="button">48</button>
<button type="button" class="button">49</button>
<button type="button" class="button">50</button>
</div>

<div class="center">
<button type="button" class="button">51</button>
<button type="button" class="button">52</button>
<button type="button" class="button">53</button>
<button type="button" class="button">54</button>
<button type="button" class="button">55</button>
<button type="button" class="button">56</button>
<button type="button" class="button">57</button>
<button type="button" class="button">58</button>
<button type="button" class="button">59</button>
<button type="button" class="button">60</button>
</div>

<div class="center">
<button type="button" class="button">61</button>
<button type="button" class="button">62</button>
<button type="button" class="button">63</button>
<button type="button" class="button">64</button>
<button type="button" class="button">65</button>
<button type="button" class="button">66</button>
<button type="button" class="button">67</button>
<button type="button" class="button">68</button>
<button type="button" class="button">69</button>
<button type="button" class="button">70</button>
</div>

<div class="center">
<button type="button" class="button">71</button>
<button type="button" class="button">72</button>
<button type="button" class="button">73</button>
<button type="button" class="button">74</button>
<button type="button" class="button">75</button>
<button type="button" class="button">76</button>
<button type="button" class="button">77</button>
<button type="button" class="button">78</button>
<button type="button" class="button">79</button>
<button type="button" class="button">80</button>
</div>

<div class="center">
<button type="button" class="button">81</button>
<button type="button" class="button">82</button>
<button type="button" class="button">83</button>
<button type="button" class="button">84</button>
<button type="button" class="button">85</button>
<button type="button" class="button">86</button>
<button type="button" class="button">87</button>
<button type="button" class="button">88</button>
<button type="button" class="button">89</button>
<button type="button" class="button">90</button>
</div>

<div class="center">
<button type="button" class="button">91</button>
<button type="button" class="button">92</button>
<button type="button" class="button">93</button>
<button type="button" class="button">94</button>
<button type="button" class="button">95</button>
<button type="button" class="button">96</button>
<button type="button" class="button">97</button>
<button type="button" class="button">98</button>
<button type="button" class="button">99</button>
<button type="button" class="button">100</button>
</div>


{% endblock %}
