{% extends "layout.html" %}

{% block title %}Scoreboard{% endblock %}

{% block content %}
  <h1>Scoreboard</h1>

<div id="s1" class="scoreboard"></div>
<div id="s2" class="scoreboard"></div>
<div id="s3" class="scoreboard"></div>
<div id="s4" class="scoreboard"></div>
<div id="s5" class="scoreboard"></div>
<div id="s6" class="scoreboard"></div>
<div id="s7" class="scoreboard"></div>
<div id="s8" class="scoreboard"></div>
<div id="s9" class="scoreboard"></div>
<div id="s10" class="scoreboard"></div>
<div id="s11" class="scoreboard"></div>
<div id="s12" class="scoreboard"></div>
<div id="s13" class="scoreboard"></div>
<div id="s14" class="scoreboard"></div>
<div id="s15" class="scoreboard"></div>
<div id="s16" class="scoreboard"></div>
<div id="s17" class="scoreboard"></div>
<div id="s18" class="scoreboard"></div>
<div id="s19" class="scoreboard"></div>
<div id="s20" class="scoreboard"></div>
<div id="s21" class="scoreboard"></div>
<div id="s22" class="scoreboard"></div>
<div id="s23" class="scoreboard"></div>
<div id="s24" class="scoreboard"></div>
<div id="s25" class="scoreboard"></div>
<div id="s26" class="scoreboard"></div>
<div id="s27" class="scoreboard"></div>
<div id="s28" class="scoreboard"></div>
<div id="s29" class="scoreboard"></div>
<div id="s30" class="scoreboard"></div>
<div id="s31" class="scoreboard"></div>
<div id="s32" class="scoreboard"></div>
<div id="s33" class="scoreboard"></div>
<div id="s34" class="scoreboard"></div>
<div id="s35" class="scoreboard"></div>
<div id="s36" class="scoreboard"></div>
<div id="s37" class="scoreboard"></div>
<div id="s38" class="scoreboard"></div>
<div id="s39" class="scoreboard"></div>
<div id="s40" class="scoreboard"></div>
<div id="s41" class="scoreboard"></div>
<div id="s42" class="scoreboard"></div>
<div id="s43" class="scoreboard"></div>
<div id="s44" class="scoreboard"></div>
<div id="s45" class="scoreboard"></div>
<div id="s46" class="scoreboard"></div>
<div id="s47" class="scoreboard"></div>
<div id="s48" class="scoreboard"></div>
<div id="s49" class="scoreboard"></div>
<div id="s50" class="scoreboard"></div>
<div id="s51" class="scoreboard"></div>
<div id="s52" class="scoreboard"></div>
<div id="s53" class="scoreboard"></div>
<div id="s54" class="scoreboard"></div>
<div id="s55" class="scoreboard"></div>
<div id="s56" class="scoreboard"></div>
<div id="s57" class="scoreboard"></div>
<div id="s58" class="scoreboard"></div>
<div id="s59" class="scoreboard"></div>
<div id="s60" class="scoreboard"></div>
<div id="s61" class="scoreboard"></div>
<div id="s62" class="scoreboard"></div>
<div id="s63" class="scoreboard"></div>
<div id="s64" class="scoreboard"></div>
<div id="s65" class="scoreboard"></div>
<div id="s66" class="scoreboard"></div>
<div id="s67" class="scoreboard"></div>
<div id="s68" class="scoreboard"></div>
<div id="s69" class="scoreboard"></div>
<div id="s70" class="scoreboard"></div>
<div id="s71" class="scoreboard"></div>
<div id="s72" class="scoreboard"></div>
<div id="s73" class="scoreboard"></div>
<div id="s74" class="scoreboard"></div>
<div id="s75" class="scoreboard"></div>
<div id="s76" class="scoreboard"></div>
<div id="s77" class="scoreboard"></div>
<div id="s78" class="scoreboard"></div>
<div id="s79" class="scoreboard"></div>
<div id="s80" class="scoreboard"></div>
<div id="s81" class="scoreboard"></div>
<div id="s82" class="scoreboard"></div>
<div id="s83" class="scoreboard"></div>
<div id="s84" class="scoreboard"></div>
<div id="s85" class="scoreboard"></div>
<div id="s86" class="scoreboard"></div>
<div id="s87" class="scoreboard"></div>
<div id="s88" class="scoreboard"></div>
<div id="s89" class="scoreboard"></div>
<div id="s90" class="scoreboard"></div>
<div id="s91" class="scoreboard"></div>
<div id="s92" class="scoreboard"></div>
<div id="s93" class="scoreboard"></div>
<div id="s94" class="scoreboard"></div>
<div id="s95" class="scoreboard"></div>
<div id="s96" class="scoreboard"></div>
<div id="s97" class="scoreboard"></div>
<div id="s98" class="scoreboard"></div>
<div id="s99" class="scoreboard"></div>
<div id="s100" class="scoreboard"></div>


{% endblock %}
